* {
    padding: 0px;
    margin: 0px;
}

.container {
    padding: 10px;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.slider {
    list-style: none;
    width: 60%;
    margin: 0 auto;
}

img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: #000;
}